<ion-content class="nightmode">
  <ngx-datatable class="fullscreen" [ngClass]="tablestyle" 
  [rows]="calificacionCurso" [columnMode]="'force'" [sortType]="'single'"
  [reorderable]="false">
<ngx-datatable-column name="Nombre" title="nombre"></ngx-datatable-column>
<ngx-datatable-column name="Evaluacion" title="evaluacion"></ngx-datatable-column>
<ngx-datatable-column name="Nota"></ngx-datatable-column>

</ngx-datatable>
</ion-content>