<ion-header>
  <ion-navbar>
    <ion-title>EducaBó - Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<form [formGroup]="formLogin">
<ion-item>
  <ion-label floating>Nombre de usuario</ion-label>
  <ion-input [formControl]= "formLogin.controls['username']" name="username" type="text" required></ion-input>
</ion-item>

<ion-item padding>
  <ion-label floating>Contraseña</ion-label>
  <ion-input [formControl]= "formLogin.controls['password']" name="password" type="password" required></ion-input>
</ion-item>

<ion-item no-lines>
  <button full ion-button [disabled]="!formLogin.valid" type="submit" (click) = "login(formLogin)">Login</button>
</ion-item>
</form>

<!-- <ion-item no-lines>
    <a item-right (click)="recuperarPassword()">Olvidé mi contraseña</a>
  </ion-item>  -->
</ion-content>