
<ion-header>
  <ion-navbar color="dark">
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Mis Calificaciones</ion-title>       
      <ion-buttons end>
          <!-- <button ion-button icon-only>
              <ion-icon name="options"></ion-icon>
          </button> -->
      </ion-buttons>
  </ion-navbar>

  <ion-grid style="background: #212F3C">
    <ion-row color="dark" style="margin: -7px 0px -7px 10px">
      <ion-col col-6 style="background: #212F3C">
            <button ion-button color="blue-grey" round small style="width:90%" icon-end (click)="filtrarCarreras()">
                    <ion-label class="wrap-text">{{filtroCarrera}}</ion-label>
                    <ion-icon name="arrow-dropdown"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-6 style="background: #212F3C">
        <button ion-button color="blue-grey"  round small style="width:90%" icon-end (click)="filtrarCalificaciones()">
                <span class="wrap-text">{{filtroCalificacion}}</span>
                <ion-icon name="arrow-dropdown"></ion-icon>
              </button>
  </ion-col>
    </ion-row>
</ion-grid>
</ion-header>

<!-- <ion-content>
  <super-tabs>
    <super-tab [root]="tab1Root" title="Cursos" icon="paper-plane"></super-tab>
    <super-tab [root]="tab2Root" title="Exámenes" icon="ribbon"></super-tab>
  </super-tabs>
</ion-content> -->


<!-- <ion-content padding>
        <ion-tabs>
          <ion-tab [root]="tab1Root" tabTitle="Cursos" tabIcon="paper-plane"></ion-tab>
          <ion-tab [root]="tab2Root" tabTitle="Exámenes" tabIcon="ribbon"></ion-tab>
        </ion-tabs>
      </ion-content> -->

      <!-- //no lines no padding -->

<ion-content>
  <ion-list *ngIf="hayResultados(); else noResults" class="accordion-list">
    <ion-list-header *ngFor="let calificacion of items; let i = index" no-lines style="margin: -7px 0px -7px 10px">
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': calificacion.open, 'section': !calificacion.open}">
        {{calificacion.nombre}}
        <ion-icon item-right name="arrow-forward" *ngIf="!calificacion.open"></ion-icon>
        <ion-icon item-right name="arrow-down" *ngIf="calificacion.open"></ion-icon>
      </button>

      <ion-list *ngIf="!calificacion.children && calificacion.open" no-lines>
          <h4 padding-left>Nota: {{calificacion.nota}}</h4>
          <h4 padding-left>Estado: {{calificacion.evaluacion}}</h4>
          <h4 padding-left>Insctancia: {{calificacion.tipoInstancia}}</h4>
      </ion-list>
    </ion-list-header>
  </ion-list>
  <ng-template #noResults item-right>
      <ion-label padding class="wrap-text">No se encontraron resultados!</ion-label>
  </ng-template>
</ion-content>