<ion-header>
        <ion-navbar color="dark">
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Exámenes</ion-title>       
        </ion-navbar>

        <ion-toolbar color="dark">
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-toolbar>

        <ion-grid style="background: #212F3C">
                <ion-row color="dark" style="margin: -7px 0px -7px 10px">
                  <ion-col col-6 style="background: #212F3C">
                        <button ion-button color="blue-grey" round small style="width:90%" icon-end (click)="filtrarCarreras()">
                                <ion-label class="wrap-text">{{filtroCarrera}}</ion-label>
                                <ion-icon name="arrow-dropdown"></ion-icon>
                        </button>
                  </ion-col>
                  <ion-col col-6 style="background: #212F3C">
                        <button ion-button color="blue-grey" round small style="width:90%" icon-end (click)="filtrarExamenes()">
                                <ion-label class="wrap-text">{{filtroExamen}}</ion-label>
                                <ion-icon name="arrow-dropdown"></ion-icon>
                              </button>
                  </ion-col>
                </ion-row>
            </ion-grid>
    </ion-header>
    
    
    <ion-content class="nightmode">
        <ion-list *ngIf="hayResultados(); else noResults">
            <button ion-item class="nightmode" *ngFor="let examen of items">
                {{examen.title}}                 
                <ion-icon  *ngIf="!examen.subscribed; else seeRemove" item-right color="dark" name="add" (click)="confirmarAltaInscripcion(examen)"></ion-icon>
                <ng-template #seeRemove item-right>
                        <ion-icon item-right color="dark" name="remove" (click)="confirmarBajaInscripcion(examen)"></ion-icon>
             
                </ng-template>
                
                <ion-icon item-right color="dark" name="information-circle" (click)="getInfo(examen)"></ion-icon>
            </button>
        </ion-list> 
        <ng-template #noResults item-right>
                <ion-label padding class="wrap-text">No se encontraron resultados!</ion-label>
        </ng-template>
    </ion-content>