<ion-header>
  <ion-navbar  color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bedelía</ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="background: #1F618D">
    <ion-label padding class="wrap-text">Bienvenido a Bedelías, {{userName}}</ion-label>
</ion-content>
