<div *ngIf="showSplash" class="splash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<ion-menu [content]="content">

    <ion-header >
      <ion-toolbar color="twitter">
        <ion-title (click)= "goHome()">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="menuNight">
            <ion-list>
              <button ion-item color="twitter" class="menuNight" *ngFor="let p of pages"  (click)="openPage(p)">
                    <h2>{{p.title}}</h2>             
              </button>
            </ion-list>
          </ion-content>

  </ion-menu>
  
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


  <!-- ng-if="p.title!='Mock'" -->