<ion-header color="dark">
    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Carreras</ion-title>       
    </ion-navbar>
    <ion-toolbar color="dark">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-toolbar>
</ion-header>

<ion-content class="nightmode">
    <ion-list *ngIf="hayResultados(); else noResults">
        <button  ion-item class="nightmode" *ngFor="let carrera of items">
                {{carrera.nombre}}
            <ion-icon  *ngIf="!carrera.subscribed" item-right name="add" (click)="confirmarAlta(carrera)"></ion-icon>         
            <ion-icon item-right name="information-circle" (click)="getInfo(carrera)"></ion-icon>
            
        </button>
    </ion-list>

    <ng-template #noResults item-right>
        <ion-label padding class="wrap-text">No se encontraron resultados!</ion-label>
    </ng-template>
</ion-content>
