.alertModal {
    ion-content {
        &.content {
            div.scroll-content {
                top: 10%;
                left: 10%;
                width: 80%;
                height: 50%;
                overflow:hidden;
            }
        }

        &.content-ios {
            background-color: rgba(0, 0, 0, 0.3);

            div.scroll-content {
                background-color: #f8f8f8;
                border-radius: 13px;
                padding: 16px;
            }
        }

        &.content-md {
            background-color: rgba(0, 0, 0, 0.5);
            
            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
                padding: 24px;
            }
        }
    }
    .item-content {
        background-color: deepskyblue;
      }
    
      
}

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nightmode {
    background: linear-gradient(to left, #ffffff,  #C0C0C0)
}

.flechaVerde{
    margin: 0px -13px 3px -8px;
    background: #212F3C;
}