<ion-header>
    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cursos</ion-title>       
    </ion-navbar>

    <ion-toolbar color="dark">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>


    <!-- style="margin: 5px 80px 5px 20px"
           -->
          <!-- Float the icon right -->
       
          <ion-grid style="margin: -7px 0px -7px 10px" style="background: #212F3C">
                <ion-row>
                  <ion-col col-6 style="background: #212F3C">
                        <button ion-button color="blue-grey" round small style="width:90%" icon-end (click)="filtrarCarreras()">
                                <span class="wrap-text">{{filtroCarrera}}</span>
                                <ion-icon name="arrow-dropdown"></ion-icon>
                        </button>
                  </ion-col>
                  <ion-col col-6 style="background: #212F3C">
                        <button ion-button color="blue-grey"  round small style="width:90%" icon-end (click)="filtrarCursos()">
                                <span class="wrap-text">{{filtroCurso}}</span>
                                <ion-icon name="arrow-dropdown"></ion-icon>
                              </button>
                  </ion-col>
                </ion-row>
            </ion-grid>

         
</ion-header>


<ion-content class="nightmode">
    <ion-list *ngIf="hayResultados(); else noResults">
        <button ion-item class="nightmode" *ngFor="let curso of items">
                {{curso.title}}                       
            <ion-icon *ngIf="!curso.subscribed; else seeRemove" item-right color="dark" name="add" (click)="confirmarAltaInscripcion(curso)"></ion-icon>
            <ng-template  #seeRemove item-right>
                    <ion-icon  item-right color="dark" name="remove" (click)="confirmarBajaInscripcion(curso)"></ion-icon>                        
            </ng-template>         
            <ion-icon item-right color="dark" name="information-circle" (click)="getInfo(curso)"></ion-icon>
        </button>
    </ion-list>

    <ng-template #noResults item-right>
            <ion-label padding class="wrap-text">No se encontraron resultados!</ion-label>
    </ng-template>

</ion-content>

