<ion-content class="nightmode">
        <ngx-datatable class="fullscreen" 
        [ngClass]="tablestyle" 
        [rows]="calificacionExamen" 
        [columnMode]="'force'"
        [sortType]="'single'"
        [reorderable]="false">
      <ngx-datatable-column name="Nombre" title="El Nombre"></ngx-datatable-column>
      <ngx-datatable-column name="Fecha" title=""></ngx-datatable-column>
      <ngx-datatable-column name="Nota"></ngx-datatable-column>
      
  </ngx-datatable>
</ion-content>